$font: sans-serif;
$main-color: #3498db;

nav {
  text-align: center;
  font-size: 2rem;
  margin: 0;
  padding-bottom: 0.5em;
  font-family: $font;
  background: $main-color;

  a {
    text-shadow: 1px 1px rgba(0,0,0,0.5);
    color: white;
    text-decoration: none;
    transition: 0.4s;

    &:hover {
      transition: 0.1s;
    }
  }
}
.container {
  margin: 2em;
  .mission {
    color: black;
    font-family: $font;
    font-weight: lighter;
    padding: 3rem;
    font-size: 1.5rem;
    border-bottom: 1px solid rgba(0,0,0,0.5);
  }

  .snippets {
    width: 70%;

    .collection {
      margin: 2em;
      font-family: $font;

      .change-class {
        display: block;
        float: right;

        input {
          border: 0;
          border-bottom: 3px solid rgba(0,0,0,0.5);
          text-decoration: underline;
          font-size: 3rem;
          width: 70%;
          transition: 2s;

          &:hover {
            border-bottom: 3px solid black;
            transition: 1s;
          }
        }
      }
      p {
        font-size: 1.2rem;
      }

      h1 {
        font-size: 3rem;
        margin: 0.2em;
      }

      ol {
        font-size: 2rem;

        li {
          border-bottom: 1px solid rgba(0,0,0,0.5);
          margin: 2em;
        }
      }
      .example {
        margin: 2em;

        i {
          cursor: pointer;

          &:hover {
            color: $main-color;
          }
        }

        pre {
          width: 79%;
          font-size: 1rem;
          padding: 0 !important;
          margin: 0;
        }
        code {
          padding: 0;
        }
      }
    }

  }
}
