@media screen and (max-width: 500px) {
  .container {
    margin: 0;
  }
  pre {
    display: none;
  }
  h4 {
    display: none;
  }

  .mission {
    font-size: 0.7rem;
  }

  .navigation-snippets {
    display: none;
  }
}
