@import "base", "media";
@import "snippets/buttons",
        "snippets/search",
        "snippets/navigation",
        "snippets/links",
        "snippets/images",
        "snippets/social",
        "snippets/donate",
        "snippets/video",
        "snippets/announcement";

@import url(https://fonts.googleapis.com/css?family=Bree+Serif);
@import url(https://fonts.googleapis.com/css?family=Exo+2);
* {
  margin: 0;
  padding: 0;
}

input:focus, button:focus {
  outline: 0;
}
