.button-1 {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 1em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

.button-2 {
  background-color: #0040FF;
  border: none;
  color: white;
  padding: 1em;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  cursor: pointer;
  border: 3px solid darken(#0040FF, 20%);
  display: inline-block;
  font-size: 16px;

  &:hover {
    background: darken(#0040FF, 20%);
  }
}
