.navigation-1 {
  font-family: sans-serif;

  li {
    list-style-type: none;
    color: black;
    font-size: 1rem;
    text-decoration: none;
    display: block;
    margin: 0 auto;
    float: right;
  }
}
